.arrows span{
    position: absolute;
    z-index: 10;
    top: 90%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.25, 0.1, 0, 1.16);
}

.arrows span svg{
    fill: white;
    transition: all 200ms ease;
}

.arrows span.prev{
    left: 40%;
}

.arrows span.next{
    right: 40%;
}

.arrows span:hover svg{
    transform: scale(0.95)
}

.dot_nav{
    display: block;
    height: 15px;
    position: relative;
    top: -50px;
    text-align: center;
}

.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: white;
    border: 2px solid white;
    z-index: 10;
    border-radius: 50%;
    margin: 0px 10px;
    transition: all 250ms ease;
}

.dot:hover{
    background: transparent;
    cursor: pointer;
}

.dot.active{
    background: transparent;
    border-color: white;
}

